DEPLOYER_PRIVATE_KEY=
ETHEREUM_RPC_URL=https://ethereum-rpc.publicnode.com
SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
GAME_TOKEN_ADDRESS=0x72e4f9F808C49A2a61dE9C5896298920Dc4EEEa9
OPERATOR_TREASURY=
REWARD_SIGNER=
